/*!
* nohtml
*   github.com/premasagar/nohtml
*
*//*
    An extreme CSS reset stylesheet, for normalising the styling of a container element and its children.

    by Premasagar Rose
        dharmafly.com

    license
        opensource.org/licenses/mit-license.php

    **
        
    v0.9.3
        
*/

/* == BLANKET RESET RULES == */

/* HTML 4.01 */
.nohtml, .nohtml h1, .nohtml h2, .nohtml h3, .nohtml h4, .nohtml h5, .nohtml h6, .nohtml p, .nohtml td, .nohtml dl, .nohtml tr, .nohtml dt, .nohtml ol, .nohtml form, .nohtml select, .nohtml option, .nohtml pre, .nohtml div, .nohtml table,  .nohtml th, .nohtml tbody, .nohtml tfoot, .nohtml caption, .nohtml thead, .nohtml ul, .nohtml li, .nohtml address, .nohtml blockquote, .nohtml dd, .nohtml fieldset, .nohtml li, .nohtml iframe, .nohtml strong, .nohtml legend, .nohtml em, .nohtml s, .nohtml cite, .nohtml span, .nohtml input, .nohtml sup, .nohtml label, .nohtml dfn, .nohtml object, .nohtml big, .nohtml q, .nohtml font, .nohtml samp, .nohtml acronym, .nohtml small, .nohtml img, .nohtml strike, .nohtml code, .nohtml sub, .nohtml ins, .nohtml textarea, .nohtml var, .nohtml a, .nohtml abbr, .nohtml applet, .nohtml del, .nohtml kbd, .nohtml tt, .nohtml b, .nohtml i, .nohtml hr,

/* HTML5 */
.nohtml article, .nohtml aside, .nohtml dialog, .nohtml figure, .nohtml footer, .nohtml header, .nohtml hgroup, .nohtml menu, .nohtml nav, .nohtml section, .nohtml time, .nohtml mark, .nohtml audio, .nohtml video {
	background-attachment:scroll !important;
	background-color:transparent !important;
	background-image:none !important; /* This rule affects the use of pngfix JavaScript http://dillerdesign.com/experiment/DD_BelatedPNG for IE6, which is used to force the browser to recognise alpha-transparent PNGs files that replace the IE6 lack of PNG transparency. (The rule overrides the VML image that is used to replace the given CSS background-image). If you don't know what that means, then you probably haven't used the pngfix script, and this comment may be ignored :) */
	background-position:0 0 !important;
	background-repeat:repeat !important;
	border-color:black !important;
	border-color:currentColor !important; /* `border-color` should match font color. Modern browsers (incl. IE9) allow the use of "currentColor" to match the current font 'color' value <http://www.w3.org/TR/css3-color/#currentcolor>. For older browsers, a default of 'black' is given before this rule. Guideline to support older browsers: if you haven't already declared a border-color for an element, be sure to do so, e.g. when you first declare the border-width. */
	border-radius:0 !important;
	border-style:none !important;
	border-width:medium !important;
	box-sizing:content-box !important;
	bottom:auto !important;
	clear:none !important;
	clip:auto !important;
	color:inherit !important;
	counter-increment:none !important;
	counter-reset:none !important;
	cursor:auto !important;
	direction:inherit !important;
	display:inline !important;
	float:none !important;
	font-family: inherit !important; /* As with other inherit values, this needs to be set on the root container element */
	font-size: inherit !important;
	font-style:inherit !important;
	font-variant:normal !important;
	font-weight:inherit !important;
	height:auto !important;
	left:auto !important;
	letter-spacing:normal !important;
	line-height:inherit !important;
	list-style-type: inherit !important; /* Could set list-style-type to none */
	list-style-position: outside !important;
	list-style-image: none !important;
	margin:0 !important;
	max-height:none !important;
	max-width:none !important;
	min-height:0 !important;
	min-width:0 !important;
	opacity:1;
	outline:invert none medium !important;
	overflow:visible !important;
	padding:0 !important;
	position:static !important;
	quotes: "" "" !important;
	right:auto !important;
	table-layout:auto !important;
	text-align:inherit !important;
	text-decoration:inherit !important;
	text-indent:0 !important;
	text-transform:none !important;
	top:auto !important;
	unicode-bidi:normal !important;
	vertical-align:baseline !important;
	visibility:inherit !important;
	white-space:normal !important;
	width:auto !important;
	word-spacing:normal !important;
	z-index:auto !important;
	
	/* Proprietary and draft rules */
    /* This section needs extending */
	-moz-border-radius:0 !important;
	-webkit-border-radius:0 !important;
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
	text-shadow: none !important;	
}

/* == BLOCK-LEVEL == */
/* Actually, some of these should be inline-block and other values, but block works fine (TODO: rigorously verify this) */
/* HTML 4.01 */
.nohtml, .nohtml h3, .nohtml h5, .nohtml p, .nohtml h1, .nohtml dl, .nohtml dt, .nohtml h6, .nohtml ol, .nohtml form, .nohtml select, .nohtml option, .nohtml pre, .nohtml div, .nohtml h2, .nohtml caption, .nohtml h4, .nohtml ul, .nohtml address, .nohtml blockquote, .nohtml dd, .nohtml fieldset, .nohtml hr,
/* HTML5 new elements */
.nohtml article, .nohtml aside, .nohtml dialog, .nohtml figure, .nohtml footer, .nohtml header, .nohtml hgroup, .nohtml menu, .nohtml nav, .nohtml section {
    display:block !important; 
}

.nohtml textarea {
  display:inline-block !important; 
}

.nohtml table {
    display: table !important;
}
.nohtml thead {
    display: table-header-group !important;
}
.nohtml tbody {
    display: table-row-group !important;
}
.nohtml tfoot {
    display: table-footer-group !important;
}
.nohtml tr {
    display: table-row !important;
}
.nohtml th, .nohtml td {
    display: table-cell !important;
    vertical-align: middle !important;
}
.nohtml td[valign=top] {
    vertical-align: top !important
}
.nohtml td[valign=bottom] {
    vertical-align: bottom !important
}
/* == SPECIFIC ELEMENTS == */
/* Some of these are browser defaults; some are just useful resets */

.nohtml nav ul, .nohtml nav ol {
	list-style-type:none !important;
}
.nohtml ul, .nohtml menu {
	list-style-type:disc !important;
}
.nohtml ol {
	list-style-type:decimal !important;
}
.nohtml ol ul, .nohtml ul ul, .nohtml menu ul, .nohtml ol menu, .nohtml ul menu, .nohtml menu menu {
	list-style-type:circle !important;
}
.nohtml ol ol ul, .nohtml ol ul ul, .nohtml ol menu ul, .nohtml ol ol menu, .nohtml ol ul menu, .nohtml ol menu menu, .nohtml ul ol ul, .nohtml ul ul ul, .nohtml ul menu ul, .nohtml ul ol menu, .nohtml ul ul menu, .nohtml ul menu menu, .nohtml menu ol ul, .nohtml menu ul ul, .nohtml menu menu ul, .nohtml menu ol menu, .nohtml menu ul menu, .nohtml menu menu menu {
	list-style-type:square !important;
}
.nohtml li {	
	display:list-item !important;
	/* Fixes IE7 issue with positioning of nested bullets */
	min-height:auto !important;
	min-width:auto !important;
}
.nohtml strong {
	font-weight:bold !important;
}
.nohtml em {
	font-style:italic !important;
}
.nohtml kbd, .nohtml samp, .nohtml code {
  font-family:monospace !important;
}
.nohtml a, .nohtml a *, .nohtml input[type=submit], .nohtml input[type=radio], .nohtml input[type=checkbox], .nohtml select {
	cursor:pointer !important;
}
.nohtml a:hover {
	text-decoration:underline !important;
}
.nohtml button, .nohtml input[type=submit] {
  text-align: center !important;
}
.nohtml input[type=hidden] {
	display:none !important;
}
.nohtml abbr[title], .nohtml acronym[title], .nohtml dfn[title] {
	cursor:help !important;
    border-bottom-width:1px !important;
	border-bottom-style:dotted !important;
}
.nohtml ins {
	background-color:#ff9 !important;
	color:black !important;
}
.nohtml del {
	text-decoration: line-through !important;
}
.nohtml blockquote, .nohtml q  {
	quotes:none !important; /* HTML5 */
}
.nohtml blockquote:before, .nohtml blockquote:after, .nohtml q:before, .nohtml q:after, .nohtml li:before, .nohtml li:after  {
	content:"" !important;
}
.nohtml input, .nohtml select {
	vertical-align:middle !important;
}
.nohtml select, .nohtml textarea, .nohtml input {
	border:1px solid #ccc !important;
}
.nohtml table {
	border-collapse:collapse !important;
	border-spacing:0 !important;
}
.nohtml hr {
	display:block !important;
	height:1px !important;
	border:0 !important;
	border-top:1px solid #ccc !important;
	margin:1em 0 !important;
}
.nohtml *[dir=rtl] {
	direction: rtl !important;
}
.nohtml mark {
	background-color:#ff9 !important;
	color:black !important;
	font-style:italic !important;
	font-weight:bold !important;
}



/* == ROOT CONTAINER ELEMENT == */
/* This contains default values for child elements to inherit  */
.nohtml {
	font-size: medium !important;
	line-height: 1 !important;
	direction:ltr !important;
	text-align:left !important;
	font-family: "Times New Roman", Times, serif !important; /* Override this with whatever font-family is required */
	color: black !important;
	font-style:normal !important;
	font-weight:normal !important;
	text-decoration:none !important;
	list-style-type:disc !important;
}
