

.nohtml_sidebar_hover{
	background-color : rgba(0,255,0,0.5);

}


.nohtml_sidebar_toggler{
	top: 45%;
	position: relative;
	cursor: pointer;
	float: left;
}

.nohtml_sidebar_adder{
	top: 0;
	position: relative;
	float: left;
	cursor: pointer;
}

.nohtml_sidebar{
	position: fixed;
	z-index: 2147483645;
	top: 0;
	right: -98%;
	width : 98%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

.nohtml_sidebar_side_menu{
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	left: -27px;
	height: 100%;
	width: 2%;
	background-color: rgba(0,0,0,0.5);
	
}

.nohtml_sidebar_menu{
	position: absolute;
	bottom: 1%;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	right: 1%;
}

.nohtml_sidebar_menu_item{
	float: right;
	height: 100px;
	width: 100px;
	border-radius: 10px;
	border : 1px solid white;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nohtml_trash{
	background: red url('icons/trash.png') no-repeat;
}

.nohtml_trash_hover{
	border: red solid 3px !important;
}

.nohtml_add_folder{
	background:  green url('icons/folder.png') no-repeat;
		margin-right: 25px;
}


.nohtml_add_folder_hover{
	border: green solid 3px !important;
}


.nohtml_folder_name{
	position: relative;
	bottom: 0px;
	font-weight: bold;
	color: white;
	width: 100%;
}


.nohtml_topbar{
	position: fixed;
	z-index: 2147483647;
	top: 0;
	left: 0;
	width : 98%;
}

.nohtml_notification{
	background-color: rgba(0,0,0,1);
	color: green;
	width: 100%;
	border-radius: 15px ; 
	margin-bottom: 1px;
	padding : 10px;
	border : 1px solid white;
}

.nohtml_warning{
	color: red !important;
}

.nohtml_warning input{
	color: black !important;
}

.nohtml_folder_container{
	height: 120px;
	width: 100px;
	float: left;
	z-index: 2147483646 !important;	
	margin: 25px;
	cursor: pointer;
}

.nohtml_folder_container_expanded{
	width: 95% !important;
	height: 90% !important;
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 2147483647 !important;	
	float: none !important;
}

.nohtml_folder_expanded{
	width: 100% !important;
	height: 100% !important;
	z-index: 2147483647 !important;	
	float: none !important;
	overflow: scroll !important;
	background-color : white !important;
}

.nohtml_folder_hover{
	border: 3px solid green !important;
}

.nohtml_folder_confirm{
	width: 20px;
}

.nohtml_folder_input_group{
	width: 100%;
}

.nohtml_folder_input{
	width: 75px;
}


.nohtml_folder_menu{
	width: 100%;
	float: left;
	top: -25%;
	font-size: 22px;
	position: relative;
}

.nohtml_folder_menu_item{
	width: 33%;
	margin-left : 15px
}

.nohtml_folder_delete{
	color: red;

}

.nohtml_folder{
	height: 100px;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	border : 1px solid white;
	
	/* Animates CSS changes */
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nohtml_dragged{
	max-height: 50px !important;
	max-width: 50px !important;
	overflow: hidden !important;
	z-index: 2147483646 !important;		

}
.nohtml_dropped{
	/*max-height: 50px !important;
	max-width: 50px !important;
	overflow: hidden !important;
	
	position: relative !important;
	left : 20px !important;*/
	z-index: 2147483646 !important;		
	left: 10px !important;
	top: 10px !important;
	float: left !important;
}

.nohtml_sidebar_hover{
	background-color : rgba(0,255,0,0.5);

}


