.nohtml_overlay{
	background-color: rgba(0,0,0,0.5) !important;
	position: fixed !important;
	z-index: 2147483647  !important;
	pointer-events:none !important;
}

.nohtml_menu_container{
	background-color: white !important;
	position: fixed !important;
	z-index: 2147483647  !important;

}

.nohtml_list_item{
	
}

.nohtml_topbar{
	position: fixed !important;
	z-index: 2147483647 !important;
	top: 0 !important;
	left: 0 !important;
	width : 100% !important;
}


.nohtml_notification{
	background-color: rgba(0,0,0,1) !important;
	color: green !important;
	width: 100% !important;
	border-radius: 15px !important; 
	margin-bottom: 1px !important;
	padding : 10px !important;
	border : 1px solid white !important;
}

.nohtml_list_item:hover{
	background-color: blue !important;
}

.nohtml_list{
	list-style-type: none !important;
}